{% extends 'pure_layout.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

  {% if current_user.is_authenticated() %}


      <div class="pure-g-r" id="layout">

    {% include 'site/sidebar.html' %}

    <div class="pure-u">
      <div class="content">

            <div class="throbber">
              {% include 'site/throbber.html' %}
            </div>

            <!-- A wrapper for all the blog posts -->
            <div class="patients-list">
                {% if patient %}
                <h1 class="post-header">{{ patient }}</h1>  
                      <p>
                      <p class="pdoa"><strong>DOA:</strong> {{patient.date_of_admission}}</p>
                      <p class="pdob"><strong>DOB:</strong> {{patient.date_of_birth}} </p>
                      <p class="sex"><strong>Sex:</strong>
                        {% if patient.sex == 1 %}
                          Male
                        {% else %}
                          Female
                        {% endif %}
                      </p>
                      <p class="admission"><strong>Reason for Admission:</strong> {{patient.diagnoses}}</p>
                      <p class="other_info"><strong>Other Info: </strong> {{patient.other_info}}</p>
                {% endif %}
            </div>

            <footer class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://iheanyi.com">Iheanyi Ekechukwu</a></li>

                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <div class="right-sidebar pure-u">
        <header class="header">
      <hgroup>
                <h1 class="brand-title">Prescription Reminders Here</h1>
                <h2 class="brand-tagline">Don't forget their medicine!</h2>
            </hgroup>
    </header>


    <div class="rx-list">

    {% if current_user.role == 1 %}
    <center><a  href="/admin/prescriptionview/" class="pure-button pure-button-primary">Add New Medication</a></center>
    {% endif %}

      {% if patient %}
      <ul>
      {% for med in patient.prescriptions %}

        {% if med.frequency %}
          <li>{{med}} - Take every {{med.frequency}} hours</li>
          {% else %}
          <li>{{med}} - Take as needed/requested.</li>
          {% endif %}
      {% endfor %}
            </ul>
      {% endif %}
    </div>
    </div>
  </div>
  {% else %}
              <div class="pure-g-r" id="layout">



  <h2>Please Login!</h2>
</div>
  {% endif %}
{% endblock %}
