{% from "_form_helpers.html" import render_field %}
{% extends 'pure_layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="pure-u">
            <form name="login" class="pure-form pure-form-aligned" role="form" method="POST">
                <fieldset>
                {{ form.csrf_token }}

                <div class="pure-control-group">
                {{ render_field(form.staff_id) }}
                </div>

                <div class="pure-control-group">
                    {{ render_field(form.password) }}

                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>

                </fieldset>
            </form>
        </div>
{% endblock %}  