{% from "_form_helpers.html" import render_field %}
{% extends 'pure_layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container pure-u">
            <form name="login" role="form" method="POST">
                {{ form.csrf_token }}
                {{ render_field(form.staff_id) }}

                <div class="form-group">
                    {{ render_field(form.password) }}

                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
{% endblock %}