 		<div class="sidebar pure-u">

 		<header class="header">
			<hgroup>
                <h1 class="brand-title">Your Patients</h1>
                <h2 class="brand-tagline">You're taking care of these people!</h2>
            </hgroup>
 		</header>

		<div class="patients">
				<ul>
				{% for patient in current_user.patients|sort(attribute='date_of_birth') %}
				  <li class="patient-sel" medi="{{patient.prescriptions|first}}" pat="{{patient}}"><a class="patient-link pat" patient="{{patient.id}}" href="/dashboard/patients/{{patient.id}}/">{{ patient }}</a>
				  		<p><strong>Conditions:</strong> {{patient.diagnoses}} </p>
				  		<p class="med"><strong>Medicines:</strong> {{patient.prescriptions}}</p></li>
				  <hr>
				{% endfor %}
				</ul>
			</div>
 		</div>